.categoryCarouselWrapper {
    position: relative;
    width: 100%;
    letter-spacing: 0;
    font-size: 15px;
    font-weight: 300;

    .categoryCarouselWrapperWithTitle {

        .carouselHeader {
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 0;
            text-transform: none;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    .carouselSubtitle {
        text-align: right;
        padding: 10px 20px 0 0;
        margin: 0px;
        display: block;
        line-height: 15px;

        button {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #ffffff;
            line-height: 100%;
            padding-bottom: 2px;
            border: none;
            border-bottom: 1px solid #ffffff;
            background: none;
            font-weight: 900;
            text-decoration: none;
        }
    }
}