.categoryEntry {
  width: 180px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 0px; 
  margin: 20px;

  a, a:visited {
    margin: auto;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
  }

  p {
    font-size: 12px;
    white-space: wrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  .imgUrl {
    margin: auto;
  }

  .links {
    margin: 3px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

  .favorite {
    margin-left: 10px;
    cursor: pointer;
    }
  }
  
  i.fas .fa-heart {
    color: red;
  }
}
